<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-searchbar debounce="1000" (ionChange)="realizarBusqueda($event)"></ion-searchbar>
    <ion-item *ngFor="let libro of libros">
      <ion-thumbnail>
        <img src="https://covers.openlibrary.org/b/id/{{libro.cover_i}}-M.jpg">
      </ion-thumbnail>
      <ion-label>
        <p><b>{{libro.title}}</b></p>
        <p><b>Autor:</b> {{libro.author_name}}</p>
        <p><b>Año:</b> {{libro.first_publish_year}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
