<ion-header>
  <ion-toolbar>
    <ion-title><b>Autor</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
    <ion-card-content class="content">
      Aplicación desarrollada por Javier Gallego. A continuación puede consultar más información sobre el autor.
    </ion-card-content>
    <a href="curriculum"><ion-button color="light" ><ion-icon slot="start" name="book"></ion-icon>Currículum vítae</ion-button></a><br>
    <a href="mailto:gmail@gmail.com"><ion-button color="light" ><ion-icon slot="start" name="mail"></ion-icon><b>Correo: </b> gmail@gmail.com</ion-button></a><br>
    <a href="https://twitter.com/twitterespana?lang=es"><ion-button color="light" ><ion-icon slot="start" name="logo-twitter"></ion-icon><b>Twitter: </b> @twitter</ion-button></a><br>
    <a href="tel:900900900"><ion-button color="light" ><ion-icon slot="start" name="call"></ion-icon><b>Teléfono: </b> 900900900</ion-button></a>
  </ion-card>
</ion-content>
