
#tablaDelHeader{
    width: 100%;
}

#usuarios{
    text-align: center;
}

#comentarios{
    text-align: center;
}


#header{
    width: 100%;
    background-color: rgb(128, 128, 128);
    height: 70px;
}

#div-de-todo{
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    border-top-width: thick;
    border-top-color: black;
}

.tabla-del-post{
}

.div-de-los-posts{
    padding-top: 10px;
    padding-bottom: 10px;
}
