<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        iBiblioteca
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card>
          <ion-thumbnail>
            <img src="https://covers.openlibrary.org/b/isbn.jpg">
          </ion-thumbnail>
          <ion-card-title>

          </ion-card-title>
          <ion-card-content>
              <p><strong>Autor: </strong></p><br>
              <p><strong>Año: </strong></p><br>
              <p><strong>ISBN: </strong></p><br>
              <p><strong>Editorial: </strong></p>
          </ion-card-content>

      </ion-card>
  </ion-content>