#div-input{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#div-todo{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.lista{
    width: 30%;
    text-align: center;
    min-height: 180px;
    border: 1px solid black;
}
